{% extends 'silostore_web/layout.html' %}
{% load static %}

{% block body %}
<div class="container p-3" style="min-height: 100vh;">
    <p class="display-4" style="font-weight: bolder;">Watch List: </p>
    <hr>
    <div class="container-fluid" style="min-height: 100vh;">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Starting Bid</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in watchlist %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'silostore_web:listing_details'%}?listing_title={{item.items.title}}" style="color: black;">{{item.items.title}}</a>
                    </th>
                    <td>{{item.items.starting_bid}}</td>
                    <td>{{item.items.description}}</td>
                    <td>
                        <form action="{% url 'silostore_web:delete_item_watchlist' %}" method="POST">
                        {% csrf_token %}
                            <input hidden name="listing_title" value="{{item.items.title}}"></input>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <p class="justify-content-center">Wachlist is Empty</p>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock  %}
